@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
  --col1: #393e46;
  --col2: #00adb5;
  --col3: #aad8d3;
  --col4: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------------------------------------*/

.navCont {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 100px;
  z-index: 10;
}

.nav {
  position: absolute;
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.nav button {
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: var(--col4);
  transition: all 0.2s ease;
}

.nav button:hover {
  background: var(--col2);
  transition: all 0.2s ease;
}

.nav p {
  font-family: Montserrat;
  font-size: 20px;
  color: var(--col1);
}

.cont1 {
  background: var(--col1);
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.h1-1 {
  font-size: 100px;
  font-family: orbitron;
  color: var(--col2);
  position: absolute;
  left: 170px;
  top: 150px;
  cursor: default;
  transition: all 0.2s ease;
}

.h1-2 {
  font-size: 100px;
  font-family: orbitron;
  color: var(--col2);
  position: absolute;
  left: 170px;
  top: 265px;
  cursor: default;
  transition: all 0.2s ease;
}

.h1-1:hover, .h1-2:hover {
  color: var(--col3);
  font-size: 110px;
  left: 165px;
  transition: all 0.2s ease;
}

.h1-1:hover {
  top: 145px;
}

.h1-2:hover {
  top: 260px;
}

.p1 {
  color: var(--col3);
  font-size: 30px;
  font-family: Montserrat;
  position: absolute;
  left: 230px;
  top: 400px;
  cursor: default;
  transition: all 0.2s ease;
}

.p1:hover {
  color: var(--col2);
  font-size: 34px;
  left: 222px;
  top: 398px;
  transition: all 0.2s ease;
}

.htmlLogo {
  width: 200px;
  position: absolute;
  bottom: -100px;
  right: 420px;
  transition: all 0.3s ease;
}

.cssLogo {
  width: 130px;
  height: 173px;
  position: absolute;
  bottom: -88px;
  right: 300px;
  transition: all 0.3s ease;
}

.jsLogo {
  width: 200px;
  height: 180px;
  position: absolute;
  bottom: -88px;
  right: 100px;
  transition: all 0.3s ease;
}

.htmlLogo:hover {
  bottom: 0px;
  transition: all 0.3s ease;
}

.cssLogo:hover {
  bottom: 15px;
  transition: all 0.3s ease;
}

.jsLogo:hover {
  bottom: 15px;
  transition: all 0.3s ease;
}

/*----------------------------------------------------------------------*/

.cont2 {
  background: var(--col4);
  width: 100%;
  height: 900px;
  position: relative;
}

.h2-1 {
  font-family: Montserrat;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100px;
}

.bild {
  height: 300px;
  width: 200px;
  background: red;
  position: absolute;
  left: 200px;
  top: 270px;
}

.linje {
  background: var(--col1);
  width: 2px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 450px;
}

.p2-div {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 290px;
  left: 450px;
}

.p2 {
  font-family: Montserrat;
}

.p3-div {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 275px;
  left: 800px;
}

.p3 {
  font-family: Montserrat;
  font-size: 20px;
}

/*-------------------------------------------------------*/

.cont3 {
  width: 100%;
  height: 800px;
  background: var(--col3);
}

/*-------------------------------------------------------*/

.cont4 {
  width: 100%;
  height: 800px;
  background: var(--col4);
}

/*-------------------------------------------------------*/

.footer {
  width: 100%;
  height: 500px;
  background: var(--col1);
}










/*
